body {
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin: 0;
    font-family: 'Aboreto', cursive;
}

#hero-section {
    background-image: url("images/small-sunset.jpg");
    background-size: cover;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F1FAEE;
}

#hero-title {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: -50px;
    margin-bottom: 12px;
    
}

#hero-caption {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 0;
}

#activity-section {
    margin: 0 auto;
    background: #F1FAEE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #1D3557;

}

#activity-heading {
    padding-top: 20px;
}

#activity-info {
    margin: -10px auto 20px auto;
}

#activity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin: auto 30px;

}

.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: auto 30px;

}

.activity-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition-duration: 0.5s;
}

.activity-photo:hover {
    border-radius: 10px;
    width: 170px;
    height: 170px;
}

.activity-title {
    margin: 20px auto 0 auto;
    background: #F1FAEE;
    padding: 6px 10px;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.activity-title:hover {
    background: #D1D9CE;
}

.activity-desc {
    margin: 5px auto 20px auto ;
}

#guide-section {
    background: #A8DADC;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#guide-card {
    width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    padding: 15px 20px;
    background: #F1FAEE;
    color: #1D3557;
    border-bottom: 6px solid #1D3557;

    border-radius: 10px;
}

#guide-photo {
    width: 200px;    
    border-radius: 10px;
}

#guide-text {
    width: 250px;
}

.italic-text {
    font-style: italic;
}

a {
    color: #1D3557;
    text-decoration: none;
}

.activity-page {
    background: #F1FAEE; 
    color: #1D3557;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activity-page-heading {
    margin: 40px auto 20px;
}

.activity-card {
    display: flex;
    margin: 30px auto;
}

.activity-card-img {
    width: 400px;
    border-radius: 10px;
}

.activity-card-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 20px 30px;
}

.activity-card-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.activity-name {
    margin: 0;
}

.link-btn {
    background-color: #D1D9CE;
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
    padding: 10px 14px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.link-btn:hover {
    background: #A8DADC;
}

.back-btn {
    background-color: #D1D9CE;
    width: auto;
    margin: 20px auto 40px;
    padding: 10px 14px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.back-btn:hover {
    background: #A8DADC;
}

table {
    display: flex;
    justify-content: center;
    margin: 0 30px;
}

tr {
    display: flex;
    margin: 40px auto;
}

td {
    margin: 0 20px;
    max-width: 700px;
}